{
    "openapi": "3.0.0",
    "info": {
        "title": "Certification & Badge API",
        "version": "1.0.0",
        "description": "A modern Certification and Digital Badge Issuing API similar to Certifier.io and Certopus. Supports certificate templates, badge metadata, issuing, verification, revocation, webhooks, audit logging, and program management."
    },
    "servers": [
        {
            "url": "https://api.hixbe.com/certify",
            "description": "Production"
        }
    ],
    "security": [
        {
            "BearerAuth": []
        }
    ],
    "parameters": {
        "Hixbe-Version": {
            "name": "Hixbe-Version",
            "in": "header",
            "required": true,
            "schema": {
                "type": "string",
                "example": "2026-01-01"
            },
            "description": "API version in YYYY-MM-DD format"
        }
    },
    "tags": [
        {
            "name": "Templates"
        },
        {
            "name": "Credentials"
        },
        {
            "name": "Badges"
        },
        {
            "name": "Verification"
        },
        {
            "name": "Issuance"
        },
        {
            "name": "Webhooks"
        },
        {
            "name": "Audit Logs"
        },
        {
            "name": "Programs"
        },
        {
            "name": "Revocation"
        }
    ],
    "paths": {
        "/templates": {
            "get": {
                "operationId": "listTemplates",
                "tags": [
                    "Templates"
                ],
                "summary": "List certificate templates",
                "parameters": [
                    {
                        "$ref": "#/parameters/Hixbe-Version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Template list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListTemplatesResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            },
            "post": {
                "operationId": "createTemplate",
                "tags": [
                    "Templates"
                ],
                "summary": "Create certificate template",
                "parameters": [
                    {
                        "$ref": "#/parameters/Hixbe-Version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateTemplateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Template created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TemplateResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/credentials": {
            "get": {
                "operationId": "listCredentials",
                "tags": [
                    "Credentials"
                ],
                "summary": "List issued credentials",
                "parameters": [
                    {
                        "$ref": "#/parameters/Hixbe-Version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Credential list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListCredentialsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/issue": {
            "post": {
                "operationId": "issueCredential",
                "tags": [
                    "Issuance"
                ],
                "summary": "Issue certificate or badge",
                "parameters": [
                    {
                        "$ref": "#/parameters/Hixbe-Version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IssueCredentialRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Credential issued",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CredentialResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/verify/{credential_id}": {
            "get": {
                "operationId": "verifyCredential",
                "tags": [
                    "Verification"
                ],
                "summary": "Verify issued credential",
                "parameters": [
                    {
                        "$ref": "#/parameters/Hixbe-Version"
                    },
                    {
                        "in": "path",
                        "name": "credential_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Verification result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerificationResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/revoke/{credential_id}": {
            "post": {
                "operationId": "revokeCredential",
                "tags": [
                    "Revocation"
                ],
                "summary": "Revoke a credential",
                "parameters": [
                    {
                        "$ref": "#/parameters/Hixbe-Version"
                    },
                    {
                        "in": "path",
                        "name": "credential_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Credential revoked",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RevocationResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/badges": {
            "get": {
                "operationId": "listBadges",
                "tags": [
                    "Badges"
                ],
                "summary": "List badge definitions",
                "parameters": [
                    {
                        "$ref": "#/parameters/Hixbe-Version"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListBadgesResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            },
            "post": {
                "operationId": "createBadge",
                "tags": [
                    "Badges"
                ],
                "summary": "Create badge",
                "parameters": [
                    {
                        "$ref": "#/parameters/Hixbe-Version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateBadgeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadgeResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/programs": {
            "get": {
                "operationId": "listPrograms",
                "tags": [
                    "Programs"
                ],
                "summary": "List programs",
                "parameters": [
                    {
                        "$ref": "#/parameters/Hixbe-Version"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListProgramsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            },
            "post": {
                "operationId": "createProgram",
                "tags": [
                    "Programs"
                ],
                "summary": "Create certification program",
                "parameters": [
                    {
                        "$ref": "#/parameters/Hixbe-Version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateProgramRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProgramResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/webhooks": {
            "post": {
                "operationId": "createWebhook",
                "tags": [
                    "Webhooks"
                ],
                "summary": "Create webhook",
                "parameters": [
                    {
                        "$ref": "#/parameters/Hixbe-Version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateWebhookRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WebhookResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/audit/logs": {
            "get": {
                "operationId": "listAuditLogs",
                "tags": [
                    "Audit Logs"
                ],
                "summary": "List audit logs",
                "parameters": [
                    {
                        "$ref": "#/parameters/Hixbe-Version"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListAuditLogsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "BearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "responses": {
            "BadRequest": {
                "description": "Bad Request",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            },
            "Unauthorized": {
                "description": "Unauthorized",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            },
            "Forbidden": {
                "description": "Forbidden",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            },
            "NotFound": {
                "description": "Not Found",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            },
            "InternalServerError": {
                "description": "Internal Server Error",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            }
        },
        "schemas": {
            "CreateTemplateRequest": {
                "type": "object",
                "required": [
                    "name",
                    "background_url"
                ],
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "background_url": {
                        "type": "string",
                        "format": "uri"
                    },
                    "fields": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "TemplateResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "ListTemplatesResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TemplateResponse"
                        }
                    }
                }
            },
            "IssueCredentialRequest": {
                "type": "object",
                "required": [
                    "recipient",
                    "template_id"
                ],
                "properties": {
                    "recipient": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string"
                            },
                            "email": {
                                "type": "string",
                                "format": "email"
                            }
                        }
                    },
                    "template_id": {
                        "type": "string"
                    },
                    "metadata": {
                        "type": "object"
                    },
                    "expire_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "CredentialResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "example": "issued"
                    },
                    "verify_url": {
                        "type": "string",
                        "format": "uri"
                    }
                }
            },
            "ListCredentialsResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CredentialResponse"
                        }
                    }
                }
            },
            "VerificationResponse": {
                "type": "object",
                "properties": {
                    "valid": {
                        "type": "boolean"
                    },
                    "recipient": {
                        "type": "string"
                    },
                    "issued_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "revoked": {
                        "type": "boolean"
                    }
                }
            },
            "RevocationResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "revoked_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "CreateBadgeRequest": {
                "type": "object",
                "required": [
                    "name",
                    "image_url"
                ],
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "image_url": {
                        "type": "string",
                        "format": "uri"
                    },
                    "criteria": {
                        "type": "string"
                    }
                }
            },
            "BadgeResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    }
                }
            },
            "ListBadgesResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BadgeResponse"
                        }
                    }
                }
            },
            "CreateProgramRequest": {
                "type": "object",
                "required": [
                    "name"
                ],
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                }
            },
            "ProgramResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    }
                }
            },
            "ListProgramsResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ProgramResponse"
                        }
                    }
                }
            },
            "CreateWebhookRequest": {
                "type": "object",
                "required": [
                    "url",
                    "events"
                ],
                "properties": {
                    "url": {
                        "type": "string",
                        "format": "uri"
                    },
                    "events": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "WebhookResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    }
                }
            },
            "ListAuditLogsResponse": {
                "type": "object",
                "properties": {
                    "logs": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "actor": {
                                    "type": "string"
                                },
                                "action": {
                                    "type": "string"
                                },
                                "timestamp": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        }
                    }
                }
            },
            "Error": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string"
                    }
                },
                "required": [
                    "error",
                    "message"
                ]
            }
        }
    }
}